@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.camera__container {
  position: relative;
  display: "flex";
  justify-content: "center";
  width: 30%;
  height: "auto";
}

.camera {
  overflow: hidden;
  width: 250px;
  margin: auto;
  height: auto;
}

.camera video {
  width: 100%;
}

.drawingBuffer {
  display: none;
}

.camera__explanation {
  max-width: 230px;
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
}

.skeleton__unsopported {
  text-align: center;
  height: 100%;
}

.skeleton__unsopported video {
  display: none;
}
